<td class="recipes, <%= cycle('list_line_odd', 'list_line_even') %>">
  <d1>
    <dt><strong>Recipe: </strong><%= recipe.title %></dt>
    <dd><strong>Level: </strong><%= recipe.level %></dd>
    <dd><strong>Resources: </strong><%= recipe.resources %></dd>
    <dd><strong>Crafted Materials: </strong><%= recipe.servings %></dd>
    <dd><strong>Components: </strong><%= recipe.ingredients %></dd>
    <dd><strong>Guilds: </strong><%= recipe.category %></dd>
  </d1>
</td>
